target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.log.*.gz
gateway/src/main/resources/ui-static/node
gateway/src/main/resources/ui-static/node_modules
gateway/src/main/resources/static/
ui/src/main/resources/ui-static/node
ui/src/main/resources/ui-static/node_modules
ui/src/main/resources/static/
*.key
package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/