language: java
jdk:
- oraclejdk8
before_install:
- chmod +x mvnw
install: true
services:
- docker
script: ./mvnw clean install -DskipTests=true -pl \"$TRAVIS_COMMIT_MESSAGE\"   -Ddocker.username=ashraf1abdelrasool -Ddocker.password=01120266849
cache:
  directories:
  - $HOME/.m2