<div class="navbar-header aside bg-info nav-xs">
  <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
    <i class="icon-list"></i>
  </a>
  <a [routerLink]="['/']" class="navbar-brand text-lt">
    <i class="icon-earphones"></i>
    <img src="/assets/images/logo.png" alt="." class="hide">
    <span class="hidden-nav-xs m-l-sm">asrevo</span>
  </a>
  <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
    <i class="icon-settings"></i>
  </a>
</div>
<ul class="nav navbar-nav hidden-xs">
  <li>
    <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
      <i class="fa fa-indent text"></i>
      <i class="fa fa-dedent text-active"></i>
    </a>
  </li>
</ul>
<div class="navbar-right ">
  <ul class="nav navbar-nav m-n hidden-xs nav-user user">
    <li *ngIf="authUser.isAuth!='true'">
      <a href="/oauth2/authorization/login-client">
        Signin
      </a>
    </li>
    <li class="dropdown" *ngIf="authUser.isAuth=='true'">
      <a  class="dropdown-toggle bg clear" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                            <img [src]="authUser.user.imageUrl" alt="...">
                        </span>
        {{authUser.user.name}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInRight">
        <li>
          <a href="#" [routerLink]="['/profile',authUser.user.id]">
            Profile
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
