<li class="list-group-item clearfix">
  <a [routerLink]="['/video',master.id]" class="jp-play-me pull-right m-t-sm m-l text-md">
    <i class="icon-control-play text"></i>
    <i class="icon-control-pause text-active"></i>
  </a>
  <a [routerLink]="['/video',master.id]" class="pull-left thumb-sm m-r">
    <img [src]="master.image+'.png'">
  </a>
  <a class="clear" [routerLink]="['/video',master.id]">
    <span class="block text-ellipsis">
            <span class="text">{{master.title}}</span>
    </span>
  </a>
  <a *ngIf="master.user" class="clear" [routerLink]="['/profile',master.user.id]">
    <small class="text-muted">{{master.user.name}}</small>
  </a>
</li>
